/*Blur effects*/

.blur-effect-1 {
    float: left;
    z-index: 3;
    position: absolute;
}
.blur-effect-2 {
    z-index: 4;
    position: absolute;
}
.blur-effect-3 {
    z-index: 9;
    position: absolute;
    float: left;
    right: 0px;
    transform: translate(0px, -210px);
}
.blur-effect-4 {
    z-index: 8;
    position: absolute;
    right: 46px;
    transform: translate(0px, -150px);
}

/*End of blur effects*/

body {
    font-family: 'Lexend';
    white-space: none;
    width: 1440px;
    margin: 0 auto;
}
header {
    width: 100%;
    white-space: none;
    clear: left;
    align-items: center;
}

/*The start of navigation panel*/

nav {
    z-index: 5;
    position: absolute;
}
.navigation-list__logo {
    padding-left: 120px;
    margin-right: 578px;
    margin-left: -40px;
    cursor: pointer;
    float: left;
}
.navigation-list {
    padding-top: 40px;
    display: flex;
    align-items: flex-start;
    vertical-align: middle;
    z-index: 10;
}
.navigation-list li {
    list-style-type: none;
    vertical-align: middle;
    line-height: 34px;
    cursor: pointer;
}
.navigation-list li > * {
    font-family: 'Lexend';
    cursor: pointer;
}
.navigation-list__about-us, .navigation-list__article, .navigation-list__property {
    float: left;
    font-size: 14px;
    color: #F0F3FD;
    height: 34px;
    background-color: #a45b5b;
    text-align: center;
    border-radius: 32px;
    border: solid 2px;
    border-color: rgba(177,218,236,255);
    background-color: rgba(144,202,228,255);
}
.navigation-list li:not(.navigation-list__registration-button){
    margin-top: 6px;
}
.navigation-list__about-us {
    width: 96px;
    margin-right: 24px;
}
.navigation-list__article {
    width: 78px;
    margin-right: 24px;
}
.navigation-list__property {
    width: 122px;
    margin-right: 56px;
}
.navigation-list__property__property-selector {
    outline: none;
    border: none;
    background-color: #f0f3fd00;
    color: #F0F3FD;
    height: 34px;
    text-align: center;
    width: 100px;
}
.navigation-list__property__property-selector > option {
    width: 122px;
    margin-right: 56px;
    background-color: black;
}
.sign-up-button {
    font-size: 14px;
    border-radius: 32px;
    border: none;
    background-color: rgba(209,250,229,255);
    width: 107px;
    height: 46px;
    color: rgba(4,120,87,255);
    font-weight: 600;
}
.sign-up-button:hover {
    letter-spacing: 1px;
    transition: 150ms linear;
}

/*The end of navigation panel*/
/*The start of left side information*/

.left-header-section {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 120px;
    padding-top: 182px;
    width: 496px;
    float: left;
    z-index: 6;
}
.left-header-section__main-text {
    text-transform: capitalize;
    width: 380px;
    color: #1B1C57;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-bottom: 24px;
}
.left-header-section__text {
    color: var(--mrt-app-neutral-01, #626687);
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    opacity: 0.75;
    padding-bottom: 32px;
}
.left-header-section__about-partnership__partnership-text {
    color: var(--mrt-app-neutral-01, #626687);
    font-size: 15.5px;
    font-weight: 300;
    line-height: 28px;
    opacity: 0.75;
}
.left-header-section__main-text__special-word {
    font-family: "Inter Variable", sans-serif;
    font-weight: 750;
    -webkit-text-stroke: 1px #1B1C57;
    -webkit-text-stroke-width: 1px;
    color: transparent;
}
.left-header-section__location-search {
    display: flex;
    width: 496px;
    padding: 4px 4px 4px 24px;
    align-items: center;
    border-radius: 32px;
    border: 1px solid var(--neutral-300, #E0E3EB);
    background: #FFF;
    margin-bottom: 32px;
}
.left-header-section__location-search__input-for-search::placeholder {
    font-family: 'Lexend';
    font-weight: 500;
    color: #888B97;
}
.left-header-section__location-search .left-header-section__location-search__input-for-search {
    font-size: 14px;
    line-height: 22px;
    width: 400px;
    height: 22px;
    padding: 4px 4px 4px 24px;
    gap: 16px;
    border: none;
    outline: none;
}
.left-header-section__location-search .left-header-section__location-search__button-for-search {
    display: flex;
    padding: 12px 16px;
    align-items: center;
    gap: 4px;
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    width: 109px;
    height: 48px;
    border-radius: 32px;
    border: none;
    background-color: #10B981;
}
.left-header-section__location-search__button-for-search {
    cursor: pointer;
}
.left-header-section__about-partnership__partnership-logos {
    display: inline-flex;
    align-items: center;
    gap: 32px;
    cursor: pointer;
}

/*The end of left side information*/
/*The start of right side information*/

.right-nav-section {
    background-image: url(../images/white_house.png);
    margin-left: 720px;
    height: 720px;
    width: 720px;
    z-index: 1;
    position: relative;
}
.right-nav-section .right-nav-section__about-us-people {
    height: 104px;
    width: 328px;
    border-radius: 32px;
    background-color: white;
    margin-left: 48px;
    position: absolute;
    bottom: 48px;
}
.right-nav-section .right-nav-section__about-houses {
    height: 104px;
    width: 201px;
    border-radius: 32px;
    background-color: white;
    position: absolute;
    bottom: 48px;
    left: 392px;

}
.right-nav-section .right-nav-section__about-looking-people {
    height: 104px;
    width: 111px;
    border-top-left-radius: 32px;
    border-bottom-left-radius: 32px;
    background-color: white;
    position: absolute;
    bottom: 48px;
    left: 609px;
}
.right-nav-section__about-us-people__first-people-image, .right-nav-section__about-us-people__second-people-image, .right-nav-section__about-us-people__third-people-image {
    margin-left: -25px;
}
.right-nav-section__about-us-people__first-people-image {
    position: absolute;
    left: 24px;
}
.right-nav-section__about-us-people__second-people-image {
    position: absolute;
    left: 52px;
}
.right-nav-section__about-us-people__third-people-image {
    position: absolute;
    left: 80px;
}
.right-nav-section__about-us-people__about-people-text {
    padding-left: 152px;
    padding-top: 10px;
}
.right-nav-section__about-us-people h3 {
    font-size: 16px;
    font-weight: 500;
    color: rgba(27,28,87,255);
    top: 29px;
}
.right-nav-section__about-us-people h4 {
    bottom: 29px;
    margin-top: -8px;
    font-size: 12px;
    font-weight: 300;
    color: rgba(104,121,159,255);
}
.right-nav-section__about-houses__house-image-svg {
    position: absolute;
    left: 24px;
    top: 24px;
}
.right-nav-section__about-houses h3 {
    position: absolute;
    left: 96px;
    top: 10px;
    font-size: 16px;
    font-weight: 500;
    color: rgba(27,28,87,255);
}
.right-nav-section__about-houses h4 {
    position: absolute;
    left: 96px;
    top: 39px;
    font-size: 12px;
    font-weight: 300;
    color: rgba(104,121,159,255);
}
.right-nav-section__about-looking-people__last-girl-image {
    position: absolute;
    left: -10px;
}
.right-nav-section__about-looking-people h3 {
    position: absolute;
    font-size: 16px;
    font-weight: 500;
    color: rgba(27,28,87,255);
    top: 10px;
    left: 90px;
}
.right-nav-section__about-looking-people h4 {
    position: absolute;
    font-size: 12px;
    font-weight: 300;
    color: rgba(104,121,159,255);
    left: 90px;
    top: 39px;
}

/*The end of right side information*/
/*The start of subscribe block*/

.subscribe-block {
    background-image: url(../images/Rectangle\ 24.png);
    background-repeat: no-repeat;
    width: 1200px;
    height: 312px;
    margin-left: 120px;
    margin-top: 40px;
    position: relative;
}
.subscribe-block__subscribe-text {
    width: 424px;
    height: 96px;
    font-size: 32px;
    font-weight: 510;
    color: #1B1C57;
    margin: 0 auto;
    padding-top: 65px;
}
.subscribe-block__input-mail {
    display: flex;
    width: 496px;
    margin: 0 auto;
    margin-top: 32px;
    padding: 4px 4px 4px 24px;
    align-items: center;
    border-radius: 32px;
    background: #FFF;
}
.subscribe-block__input-mail .subscribe-block__input-mail__input-for-subscribe {
    font-size: 14px;
    line-height: 22px;
    width: 311px;
    height: 22px;
    padding: 4px 4px 4px 24px;
    border: none;
    outline: none;
}
.subscribe-block__input-mail__input-for-subscribe::placeholder {
    font-family: 'Lexend';
    font-weight: 500;
    color: #888B97;
}
.subscribe-block__input-mail .subscribe-block__input-mail__button-for-subscribe {
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    margin-left: 20px;
    width: 141px;
    padding: 16px 16px;
    height: 48px;
    border-radius: 32px;
    border: none;
    background-color: #10B981;
}
.subscribe-block__input-mail__button-for-subscribe {
    cursor: pointer;
}
.subscribe-block__chair-image {
    position: absolute;
    left: 44px;
    top: 38px;
}
.subscribe-block__orange-girl-image {
    position: absolute;
    top: 173px;
    left: 37px;
}
.subscribe-block__blue-men-image {
    position: absolute;
    top: 50px;
    left: 174px;
}
.subscribe-block__big-house-image {
    position: absolute;
    top: 178px;
    left: 195px;
}
.subscribe-block__open-house-image {
    position: absolute;
    top: 44px;
    left: 930px;
}
.subscribe-block__happy-girl-image {
    position: absolute;
    top: 86px;
    left: 1052px;
}
.subscribe-block__purple-men-image {
    position: absolute;
    top: 122px;
    left: 934px;
}
.subscribe-block__white-chair-image {
    position: absolute;
    top: 197px;
    left: 1072px;
}

/*The end of subscribe block*/
/*The start of footer*/

footer {
    margin-top: 120px;
    position: relative;
}

.footer-left-block {
    margin-left: 120px;
    width: 320px;
    float: left;
}
.footer-left-block__footer-left-text {
    width: 100%;
    height: 72px;
    margin-top: 16px;
    font-size: 14px;
    color: rgba(136,139,151,255);
    font-weight: 300;
}
.footer-left-block__footer-left-text__social-media-block {
    margin-top: 24px;
}
.footer-left-block__footer-left-text__social-media-block > * {
    margin-right: 24px;
    cursor: pointer;
}
.footer-property-block, .footer-article-block, .footer-contact-block {
    float: left;
}
.footer-property-block {
    margin-left: 230px;
}
.footer-article-block {
    margin-left: 87px;
    margin-right: 87px;
}
.footer-property-bloc__buildings-list, .footer-article-block__article-list, .footer-contact-block__contact-list {
    list-style-type: none;
    color: rgba(136,139,151,255);
    font-weight: 300;
}
.footer-property-bloc__buildings-list li, .footer-article-block__article-list li, .footer-contact-block__contact-list li {
    margin-left: -39px;
    margin-top: 18px;
    z-index: 15;
}
.footer-top-text {
    font-weight: 600;
    font-size: 18px;
    color: #0E1735;
}