html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.header {
    display: flex;
    flex-direction: column;
}
* {
    box-sizing: border-box;
}
.main-header {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    gap: 230px;
    align-items: center;
    justify-content: center;
}
.body::-webkit-scrollbar {
    display: none;
}
/*Blur effects*/
.blur-effect-1 {
    float: left;
    z-index: -5;
    position: absolute;
    display: none;
}
.blur-effect-2 {
    z-index: -10;
    position: absolute;
    display: none;
}
.blur-effect-3 {
    z-index: -15;
    position: absolute;
    float: left;
    right: 0;
    transform: translate(0px, -165px);
    display: none;
}
.blur-effect-4 {
    z-index: -20;
    position: absolute;
    right: 46px;
    transform: translate(0px, -120px);
    display: none;
}
.blur-effect-5 {
    z-index: -40;
    position: absolute;
    align-self: flex-start;
    transform: translate(0px, 700px);
    display: none;
}
.blur-effect-6 {
    z-index: -30;
    position: absolute;
    align-self: flex-start;
    transform: translate(0px, 900px);
    display: none;
}
/*End of blur effects*/
.body {
    font-family: 'Lexend', sans-serif;
}
.content-wrapper {
    width: 1440px;
    margin: 0 auto;
    align-items: center;
    align-content: center;
}
.header {
    width: 100%;
    clear: left;
    align-items: center;
}

/*The start of navigation panel*/

.header-navigation-list {
    z-index: 100;
    position: absolute;
}

.navigation-list__logo {
    cursor: pointer;
}

.navigation-list {
    padding-top: 40px;
    display: flex;
    align-items: flex-start;
    vertical-align: middle;
    z-index: 10;
    gap: 578px;
}
.navigation-list-first-block {
    display: flex;
    flex-direction: row;
    gap: 24px;
}
.navigation-list-buttons {
    display: flex;
    flex-direction: row;
    gap: 56px;
}
.navigation-list__link {
    text-decoration: none;
    color: white;
}

.navigation-list li {
    list-style-type: none;
    vertical-align: middle;
    line-height: 34px;
    cursor: pointer;
}

.navigation-list li > * {
    font-family: 'Lexend', sans-serif;
    cursor: pointer;
}

.navigation-list__about-us, .navigation-list__article, .navigation-list__property {
    font-size: 14px;
    color: #F0F3FD;
    height: 34px;
    background-color: #a45b5b;
    text-align: center;
    border-radius: 32px;
    border: solid 2px rgba(177,218,236,255);
    background-color: rgba(144,202,228,255);
}

.navigation-list li:not(.navigation-list__registration-button){
    margin-top: 6px;
}

.navigation-list__about-us {
    width: 96px;
}

.navigation-list__article {
    width: 78px;
}

.navigation-list__property {
    width: 122px;
}

.property__property-selector {
    outline: none;
    border: none;
    background-color: #f0f3fd00;
    color: #F0F3FD;
    height: 34px;
    text-align: center;
    width: 100px;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
}

.property__property-selector > option {
    width: 122px;
    background-color: black;
}

.sign-up-button {
    font-size: 14px;
    border-radius: 32px;
    border: none;
    background-color: rgba(209,250,229,255);
    width: 107px;
    height: 46px;
    color: rgba(4,120,87,255);
    font-weight: 600;
}

.sign-up-button:hover {
    letter-spacing: 1px;
    transition: 150ms linear;
}

/*The end of navigation panel*/
/*The start of left side information*/

.left-header-section {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 182px;
    padding-left: 120px;
    width: 496px;
    z-index: 6;
}

.left-header-main-text {
    text-transform: capitalize;
    width: 380px;
    color: #1B1C57;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-bottom: 24px;
}

.left-header-section__text {
    color: #626687;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    opacity: 0.75;
    padding-bottom: 32px;
}

.about-partnership__text {
    color: #626687;
    font-size: 15.5px;
    font-weight: 300;
    line-height: 28px;
    opacity: 0.75;
}

.main-text__special-word {
    font-family: "Inter Variable", sans-serif;
    font-weight: 750;
    -webkit-text-stroke: 1px #1B1C57;
    -webkit-text-stroke-width: 1px;
    color: transparent;
}

.left-header-location-search {
    display: flex;
    width: 496px;
    padding: 4px 4px 4px 24px;
    align-items: center;
    border-radius: 32px;
    border: 1px solid #E0E3EB;
    background: #FFF;
    margin-bottom: 32px;
}

.location-search__input-for-search::placeholder {
    font-family: 'Lexend', sans-serif;
    font-weight: 500;
    color: #888B97;
}

.left-header-location-search .location-search__input-for-search {
    font-size: 14px;
    line-height: 22px;
    width: 400px;
    height: 48px;
    padding: 4px 4px 4px 24px;
    gap: 16px;
    border: none;
    outline: none;
}

.left-header-location-search .location-search__button-for-search {
    display: flex;
    padding: 12px 16px;
    align-items: center;
    gap: 4px;
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    width: 109px;
    height: 48px;
    border-radius: 32px;
    border: none;
    background-color: #10B981;
}

.location-search__button-for-search {
    cursor: pointer;
}

.partnership__logos {
    display: inline-flex;
    align-items: center;
    gap: 32px;
    cursor: pointer;
}

/*The end of left side information*/
/*The start of right side information*/

.right-nav-section {
    background-image: url(images/white_house.png);
    height: 720px;
    width: 720px;
    z-index: 1;
    position: relative;
    overflow-x: hidden;
}

.right-nav-section .right-section-about-people {
    height: 104px;
    width: 328px;
    border-radius: 32px;
    background-color: white;
    margin-left: 48px;
    position: absolute;
    bottom: 48px;
}

.right-nav-section .right-nav-section-about-houses {
    height: 104px;
    width: 201px;
    border-radius: 32px;
    background-color: white;
    position: absolute;
    bottom: 48px;
    left: 392px;
}

.right-nav-section .right-nav-section-looking-people {
    height: 104px;
    width: 111px;
    border-top-left-radius: 32px;
    border-bottom-left-radius: 32px;
    background-color: white;
    position: absolute;
    bottom: 48px;
    left: 609px;
}

.about-people__first-people-image, .about-people__second-people-image, .right-nav-section__third-people-image {
    margin-left: -25px;
}

.about-people__first-people-image {
    position: absolute;
    left: 24px;
}

.about-people__second-people-image {
    position: absolute;
    left: 52px;
}

.right-nav-section__third-people-image {
    position: absolute;
    left: 80px;
}

.about-people-text {
    padding-left: 152px;
    padding-top: 10px;
}

.people-text__header {
    position: absolute;
    font-size: 16px;
    font-weight: 500;
    color: rgba(27,28,87,255);
    top: 29px;
}

.people-text__subtext {
    position: absolute;
    top: 55px;
    font-size: 12px;
    font-weight: 300;
    color: rgba(104,121,159,255);
}

.about-houses__house-image-svg {
    position: absolute;
    left: 24px;
    top: 24px;
}

.about-houses__header {
    position: absolute;
    left: 96px;
    top: 29px;
    font-size: 16px;
    font-weight: 500;
    color: rgba(27,28,87,255);
}

.about-houses__subtext {
    position: absolute;
    left: 96px;
    top: 55px;
    font-size: 12px;
    font-weight: 300;
    color: rgba(104,121,159,255);
}

.looking-people__last-girl-image {
    position: absolute;
    left: -10px;
}

.looking-people__header {
    position: absolute;
    font-size: 16px;
    font-weight: 500;
    color: rgba(27,28,87,255);
    top: 29px;
    left: 90px;
}

.looking-people__subtext {
    position: absolute;
    font-size: 12px;
    font-weight: 300;
    color: rgba(104,121,159,255);
    left: 90px;
    top: 55px;
}

/*The end of right side information*/
/*The start of subscribe block*/

.subscribe-block {
    background-image: url(images/blue-gradient-image.png);
    background-repeat: no-repeat;
    width: 1200px;
    height: 312px;
    margin: 0 auto;
    margin-top: 120px;
    position: relative;
}

.subscribe-block__text {
    width: 424px;
    height: 96px;
    font-size: 32px;
    font-weight: 510;
    color: #1B1C57;
    margin: 0 auto;
    padding-top: 65px;
}

.subscribe-block-input-mail {
    display: flex;
    width: 496px;
    margin: 0 auto;
    margin-top: 32px;
    padding: 4px 4px 4px 24px;
    align-items: center;
    border-radius: 32px;
    background: #FFF;
}

.subscribe-block-input-mail .input-mail__input {
    font-size: 14px;
    line-height: 22px;
    width: 311px;
    height: 48px;
    padding: 4px 4px 4px 24px;
    border: none;
    outline: none;
}

.input-mail__input::placeholder {
    font-family: 'Lexend', sans-serif;
    font-weight: 500;
    color: #888B97;
}

.subscribe-block-input-mail .input-mail__button {
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    margin-left: 20px;
    width: 141px;
    padding: 16px 16px;
    height: 48px;
    border-radius: 32px;
    border: none;
    background-color: #10B981;
}

.input-mail__button {
    cursor: pointer;
}

.subscribe-block__chair-image {
    position: absolute;
    left: 44px;
    top: 38px;
}

.subscribe-block__orange-girl-image {
    position: absolute;
    top: 173px;
    left: 37px;
}

.subscribe-block__blue-men-image {
    position: absolute;
    top: 50px;
    left: 174px;
}

.subscribe-block__big-house-image {
    position: absolute;
    top: 178px;
    left: 195px;
}

.subscribe-block__open-house-image {
    position: absolute;
    top: 44px;
    left: 930px;
}

.subscribe-block__happy-girl-image {
    position: absolute;
    top: 86px;
    left: 1052px;
}

.subscribe-block__purple-men-image {
    position: absolute;
    top: 122px;
    left: 934px;
}

.subscribe-block__white-chair-image {
    position: absolute;
    top: 197px;
    left: 1072px;
}

/*The end of subscribe block*/
/*The start of footer*/

footer {
    width: 100%;
    margin-top: 120px;
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 263px;
    align-items: center;
    justify-content: center;
}

.footer-left-block {
    width: 320px;
    float: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.footer-left-block-text {
    width: 100%;
    height: 72px;
    font-size: 14px;
    color: rgba(136,139,151,255);
    font-weight: 300;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.footer-social-media-block {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.footer-social-media-block > * {
    cursor: pointer;
}

.footer-main-links-block {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.footer-main-block {
    display: flex;
    flex-direction: row;
    gap: 87px;
}

.links-block-list {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.links-block__top-text {
    color:#0E1735;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
}

.links-block__element {
    display: flex;
    overflow: initial;
}

.link {
    color:#888B97;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-transform: capitalize;
    text-decoration: none;
    transition: color .1s ease-in-out, .1s ease-in-out;
}

.link:hover {
    box-shadow: inset 300px 0 0 0 #10B981;
    color: white;
}

/* Main content */
.main {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.main_featured-houses {
    width: 100%;
    height: 662px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 120px;
    align-items: center;
}
.featured-houses__top-navigation {
    display: flex;
    flex-direction: row;
    gap: 138px;
    align-items: flex-start;
}
.top-navigation__label {
    color: #1B1C57;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
}
.top-navigation__tabs {
    display: flex;
    flex-direction: row;
    gap: 32px;
}
.button-label_type-house {
    color: #888B97;
    font-size: 18px;
    font-style: normal;
    font-weight: 510;
    line-height: 28px;
    transition: 0.5s;
}
.button-label_type-villa {
    color: #888B97;
    font-size: 18px;
    font-style: normal;
    font-weight: 510;
    line-height: 28px;
    transition: 0.5s;
}
.button-label_type-apartment {
    color: #888B97;
    font-size: 18px;
    font-style: normal;
    font-weight: 510;
    line-height: 28px;
    transition: 0.5s;
}
.button-image_type-house {
    transition: 0.4s;
}
.button-image_type-villa {
    transition: 0.4s;
}
.button-image_type-apartment {
    transition: 0.4s;
}
.tabs__button_type-houses {
    display: flex;
    flex-direction: row;
    border-radius: 32px;
    padding: 12px 24px;
    align-items: center;
    gap: 8px;
    background-color: white;
    border: 1px solid #E0E3EB;
    transition: 0.4s;
}
.tabs__button_type-houses:hover {
    cursor: pointer;
    background-color: #D1FAE5;
    border-color: #404040;
}
.tabs__button_type-villas {
    display: flex;
    flex-direction: row;
    border-radius: 32px;
    padding: 12px 24px;
    align-items: center;
    gap: 8px;
    background-color: white;
    border: 1px solid #E0E3EB;
    transition: 0.4s;
}
.tabs__button_type-villas:hover {
    cursor: pointer;
    background-color: #D1FAE5;
    border-color: #404040;
}
.tabs__button_type-apartments {
    display: flex;
    flex-direction: row;
    border-radius: 32px;
    padding: 12px 24px;
    align-items: center;
    gap: 8px;
    background-color: white;
    border: 1px solid #E0E3EB;
    transition: 0.4s;
}
.tabs__button_type-apartments:hover {
    cursor: pointer;
    background-color: #D1FAE5;
    border-color: #404040;
}

.top-nav__prev-button {
    display: inline-flex;
    padding: 12px 16px;
    align-items: center;
    gap: 4px;
    border-radius: 32px;
    background: #E0E3EB;
    border: 1px solid #E0E3EB;
    width: 60px;
    height: 52px;
    transition: 0.4s;
}
.top-nav__prev-button:hover {
    cursor: pointer;
    background-color: #10B981;
}
.top-nav__next-button {
    display: inline-flex;
    padding: 12px 16px;
    align-items: center;
    gap: 4px;
    border-radius: 32px;
    background: #E0E3EB;
    border: 1px solid #E0E3EB;
    width: 60px;
    height: 52px;
    transition: 1s;
}
.top-nav__next-button:hover {
    cursor: pointer;
    background-color: #10B981;
}
.featured-houses__items {
    height: 570px;
    width: 1320px;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    gap: 40px;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: thin;
    scroll-behavior: smooth;
}
.featured-houses__items::-webkit-scrollbar {
    display: none;
}
@keyframes fadeIn {
    from {
        opacity: 0.2;
    }
    to {
        opacity: 1;
    }
}
.item__carcass {
    display: flex;
    flex-direction: column;
    gap: 24px;
    border: 2px white solid;
    border-radius: 25px;
    transition: 0.5s;
    animation: fadeIn 0.5s ease-in-out;
}
.item__carcass:hover {
    border: 2px #10B981 solid;
    cursor: pointer;
}
.item-header {
    height: 382px;
    width: 340px;
    max-height: 382px;
    max-width: 340px;
    position: relative;
}
.item-preference__ico {
    border-radius: 50%;
}
.item-image__preferences_type-popular {
    position: absolute;
    left: 16px;
    bottom: 16px;

    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 8px 16px;
    align-items: flex-start;
    border-radius: 32px;

    color: #EF4444;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;

    background: #FEE2E2;
}
.item-image__preferences_type-new-house {
    position: absolute;
    left: 16px;
    bottom: 16px;

    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 8px 16px;
    align-items: flex-start;
    border-radius: 32px;

    color: #1D4ED8;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;

    background: #DBEAFE;
}

.item-image__preferences_type-best-deals {
    position: absolute;
    left: 16px;
    bottom: 16px;

    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 8px 16px;
    align-items: flex-start;
    border-radius: 32px;



    color: #047857;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;

    background: #D1FAE5;
}

.item-main__title {
    color: #0E1735;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
}
.item-main__price {
    color: #3C4563;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px; /* 160% */
}
.item-carcass__footer {
    display: flex;
    flex-direction: row;
    gap: 16px;
}
.item-footer-seller {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.item-footer__image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.item-seller__name {
    color: #0E1735;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 133.333% */
}
.item-seller__location {
    color: #888B97;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 22px;
}
.find-more {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 422px;
    height: 189px;
    text-align: justify;
    margin: auto;
    margin-top: 40px;
}

.find-more__line {
    margin-bottom: 8px;
}

.find-more__label {
    color:#F59E0B;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
}

.find-more__main-text {
    margin: 12px 0 24px;
    color: #1B1C57;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    width: 425px;
}

.find-more__button {
    padding: 12px 16px;
    align-items: center;
    gap: 16px;
    border-radius: 32px;
    border: none;
    border-color: unset;
    background-color: rgba(16,185,129,255);
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    cursor: pointer;
}

/* Main content block */

.main-content {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    gap: 68px;
    justify-content: center;
    margin-top: 40px;
}

.content-left-side {
    width: 572px;
    height: 524px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.left-side-item {
    display: flex;
    width: 572px;
    height: 524px;
    flex-direction: row;
    gap: 32px;
}

.item__image {
    max-width: 200px;
    max-height: 144px;
}

.item__description {
    display: flex;
    width: 340px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.description-lecturer {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 16px;
}

.lecturer__image {
    float: left;
}

.lecturer__name {
    color:#3C4563;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

.item-title {
    clear: both;
    color: #1B1C57;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    text-transform: capitalize;
}

.item-release {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.release-ico {
    float: left;
}

.release-time {
    color: #888B97;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
}

.content-right-side {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 560px;
    height: 480px;
}

.right-side-image {
    max-width: fit-content;
    max-height: fit-content;
}

.right-description-label {
    color: #1B1C57;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    text-transform: capitalize;
}

.right-description-subtext {
    color: #626687;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.right-side-description {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.active-button {
    background-color: #D1FAE5;
}
.active-button:hover {
    border: 1px solid #E0E3EB;
}
/*
* {
    border: 1px solid green !important;
}
.body {
    border: 1px solid yellow !important;
}
.content-wrapper {
    border: 2px solid red !important;
}*/
@media screen and (max-width: 1440px) {
    .content-wrapper {
        margin: 0;
        width: calc(100vmax);
    }
    .main-header {
        gap: 100px;
    }
    .navigation-list {
        gap: 478px;
    }
    .left-header-location-search {
        width: 100%;
    }
    .featured-houses__items {
        width: 65%;
    }
}
@media screen and (max-width: 1340px) {
    .content-wrapper {
        margin: 0;
        width: calc(100vmax);
    }
    .main_featured-houses {
        width: 90%;
    }
    .featured-houses__top-navigation {
        gap: 100px;
    }
    .featured-houses__items {
        width: 70%;
    }
    .right-nav-section {
        width: 600px;
        height: 600px;
        border-bottom-left-radius: 50px;
    }
    .navigation-list {
        gap: 320px;
    }
    .left-header-section {
        padding-top: 50px;
        height: 100%;
    }
    .footer {
        gap: 100px;
    }
}
@media screen and (max-width: 1220px) {
    .main-content {
        gap: 0;
    }
    .main-header {
        gap: 0;
    }
    .navigation-list {
        gap: 220px;
    }
    .subscribe-block {
        width: 1000px;
        border-radius: 32px;
        align-self: center;
    }
    .subscribe-block-photos {
        display: none;
    }
    .left-header-section {
        padding-left: 7%;
    }
}
@media screen and (max-width: 1140px) {
    .content-wrapper {
        width: calc(100vmax);
    }
    .main-header {
        flex-direction: column;
    }
    .navigation-list-buttons {
        gap: 5px;
    }
    .navigation-list-first-block {
        gap: 10px;
    }
    .main-content {
        flex-direction: column;
    }
    .right-nav-section {
        width: 500px;
        height: 500px;
    }
    .navigation-list {
        padding-top: 10px;
        gap: 10px;
    }
    .main_featured-houses {
        width: 70%;
        height: 700px;
        gap: 10px;
    }
    .footer-main-block {
        gap: 20px;
    }
    .left-header-section {
        padding-left: 0;
    }
    .featured-houses__top-navigation {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
    .subscribe-block {
        width: 600px;
    }
    .footer {
        flex-direction: column;
    }
}
@media screen and (max-width: 415px) {
    .content-wrapper {
        width: calc(100vmin);
        align-items: center;
        justify-content: center;
    }
    .header {
        width: 350px;
        align-items: center;
        margin: auto;
    }
    .header-navigation-list {
        width: 100%;
        position: relative;
    }
    .navigation-list {
        flex-direction: column;
        align-items: center;
        position: relative;
    }
    .navigation-list-buttons {
        flex-direction: column;
        align-items: center;
    }
    .left-header-section {
        align-items: center;
        width: 350px;
    }
    .left-header-section > * {
        width: 345px;
    }
    .left-header-main-text {
        text-align: center;
    }
    .left-header-section__text {
        text-align: center;
    }
    .location-search__image {
        display: none;
    }
    .location-search__arrow {
        display: none;
    }
    .about-partnership__text {
        text-align: center;
    }
    .partnership__logos {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .right-nav-section {
        width: 100%;
    }
    .right-section-about-people {
        left: 0;
    }
    .right-nav-section-about-houses {
        display: none;
    }
    .right-nav-section-looking-people {
        display: none;
    }
    .main {
        width: 350px;
        align-items: center;
        margin: auto;
    }
    .main_featured-houses {
        height: 100%;
    }
    .featured-houses__top-navigation {
        width: 100%;
    }
    .top-navigation__tabs {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 5px;
    }
    .featured-houses__items {
        width: 340px;
    }
    .main-recent-buildings {
        width: 340px;
    }
    .find-more {
        width: 100%;
    }
    .find-more__main-text {
        width: 100%;
    }
    .main-content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 1500px;
    }
    .content-left-side {
        width: 100%;
        height: 1000px;
    }
    .content-right-side {
        width: 100%;
    }
    .left-side-item {
        flex-direction: column;
        gap: 10px;
        width: 340px;
        align-items: center;
    }
    .item__description {
        align-items: center;
        text-align: center;
    }
    .subscribe-block {
        width: 350px;
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
    .subscribe-block__text {
        width: 100%;
        text-align: center;
    }
    .subscribe-block-input-mail {
        width: 100%;
    }
    .input-mail__input {
        width: 120px;
    }
    .input-mail__image {
        display: none;
    }
    .input-mail__button {
        margin: 0;
    }
    .footer {
        margin: 10px auto;
        width: 350px;
        align-items: center;
    }
}
